
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* background-color: #76b852;; */
    background-image: url("https://64.media.tumblr.com/39fc5351d9decc186eeca16cbc40e244/b2e90d87f64a28aa-25/s1280x1920/3a92d6a697f45f9c485cc1346838c5bb538046be.jpg");
    padding: 18% 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 340px;
  border-radius: 5px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 3), 0 50px 70px 0 rgba(0, 0, 0, 3);
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

#email,#pwd {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
}

#email:focus{
    background: #E5E8E8;
}


#pwd:focus{
    background: #E5E8E8;
}

:focus::placeholder{
    color:rgb(175, 170, 170) ;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #2ECC71;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  width: 100%;
}

.form-inline .oblidat{
    color: #b3b3b3;
    font-size: 12px;
}

.form-inline .oblidat a{
    color: #4CAF50;
    text-decoration: none;
    margin-left: 2px;
}

.form-inline button:hover {
  background-color: #48C9B0;
}

.alerta{
    color: white;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}